.login-page {
    background-color: rgb(248, 139, 176);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 30px;
    width: 300px;
  border-radius: 12px;
  text-align: center;
    }
    input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}
.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  text-decoration: none
}
